/* ==UserStyle==
@name           Shogi-Extend Pieces
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Portella_CZ pieces for shogi-extend.com
@author         Daniel Dugovic
==/UserStyle== */

@-moz-document domain("shogi-extend.com") {
    div.piece_P.promoted_false { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0FU.png') !important; }
    div.piece_P.promoted_true { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0TO.png') !important; }
    div.piece_L.promoted_false { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0KY.png') !important; }
    div.piece_L.promoted_true { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0NY.png') !important; }
    div.piece_N.promoted_false { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0KE.png') !important; }
    div.piece_N.promoted_true { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0NY.png') !important; }
    div.piece_S.promoted_false { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0GI.png') !important; }
    div.piece_S.promoted_true { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0NG.png') !important; }
    div.piece_G { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0KI.png') !important; }
    div.piece_B.promoted_false { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0KA.png') !important; }
    div.piece_B.promoted_true { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0UM.png') !important; }
    div.piece_R.promoted_false { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0HI.png') !important; }
    div.piece_R.promoted_true { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0RY.png') !important; }
    div.piece_K { background-image: url('https://raw.githubusercontent.com/timezombi/ShogiGUI-piece-sets/master/PNG/Portella/lishogi/0OU.png') !important; }
}
